/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

// static-hero
.hero-slider,
.static-hero,
.hero-slider-s2 {
	width: 100%;
	height: 1000px;
	min-height: 758px;
	position: relative;
	z-index: 0;

	@include media-query(1199px) {
		height: 700px;
		min-height: 700px;
	}

	@include media-query(991px) {
		height: 700px;
		min-height: 700px;
	}

	.slider-item {
		height: 1000px;
		min-height: 758px;
		position: relative;
		z-index: 0;

		@include media-query(1199px) {
			height: 700px;
			min-height: 700px;
		}

		@include media-query(991px) {
			height: 700px;
			min-height: 700px;
		}
	}

	.slick-prev,
	.slick-next {
		background: #f2f2f2;
		width: 50px;
		height: 50px;
		line-height: 48px;
		border-radius: 50%;
		transition: all 0.3s;
		top: 46%;
		z-index: 11;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		transition: all 0.5s;

		&:before {
			color: $theme-primary-color;
		}
	}

	.slick-prev:hover,
	.slick-next:hover {
		background-color: $black;

		&:before {
			color: $white;
		}
	}

	@media (max-width: 991px) {

		.slick-prev,
		.slick-next {
			display: none !important;
		}
	}

	.slick-prev {
		right: 60px;
		top: 53%;
		left: auto;

		@media(max-width:1700px) {
			right: 30px;
		}
		@media(max-width:1199px) {
			top: 56%;
		}
	}

	.slick-prev:before {
		font-family: "themify";
		content: "\e629";
		opacity: 1;
		transition: all .3s;
		line-height: unset;
	}

	.slick-next {
		right: 60px;

		@media(max-width:1700px) {
			right: 30px;
		}
	}

	.slick-next:before {
		font-family: "themify";
		content: "\e628";
		opacity: 1;
		transition: all .3s;
		line-height: unset;
	}

	.slick-dots {
		bottom: 20px;
	}

	@media screen and (min-width: 992px) {
		.slick-dots {
			display: none !important;
		}
	}

	.slick-dots li {
		margin: 0;
	}

	.slick-dots button {
		background-color: $theme-primary-color;
		width: 14px;
		height: 14px;
		border: 2px solid #fff;
		border-radius: 50%;
	}

	.slick-dots button:before,
	.slick-dots button:before {
		display: none;
	}


	.video-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.gradient-overlay+.container {
		position: relative;
		z-index: 11;
	}

	.swiper-slide {
		position: relative;
		z-index: 11;
	}

	.slide-content {
		max-width: 520px;
		padding-left: 60px;

		@include media-query(991px) {
			padding-left: 0px;
			padding-bottom: 60px;
		}
	}

	.slide-title-top {
		max-width: 680px;

		@include media-query(767px) {
			max-width: 500px;
		}

		span {
			font-weight: 500;
			font-size: 25px;
			color: $white;
			line-height: 30px;

			@include media-query(767px) {
				font-size: 20px;
				line-height: 20px;
			}
		}
	}

	.slide-title {
		margin-bottom: 20px;


		@include media-query(991px) {
			max-width: 300px;
		}

		h2 {
			margin: 0 0 15px;
			font-size: 48px;
			line-height: 1.3em;
			font-style: normal;
			font-weight: 900;
			color: $black;

			@include media-query(991px) {
				font-size: 32px;
				line-height: 36px;
			}

			@include media-query(399px) {
				font-size: 30px;
				line-height: 35px;
			}

			span {
				display: block;
				color: rgba(0, 0, 0, 0.48);
			}
		}
	}

	p {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.4em;
		color: $black;
		max-width: 280px;
		margin-bottom: 30px;
		font-family: "Inter", sans-serif;
	}

	.slide-content {
		padding-top: 80px;

		@include media-query(991px) {
			padding-top: 0;
			max-width: 100%;
		}
	}

	.slide-btns {
		.theme-btn {
			@include media-query(991px) {
				display: block;
				text-align: center;
			}
		}
	}

	.swiper-slide {
		overflow: hidden;
	}

	.swiper-container,
	.hero-container {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.slide-inner,
	.hero-inner {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;

		@include media-query(991px) {
			align-items: flex-end;
		}

	}
}


.hero-slider-s2 {
	height: 730px;

	@include media-query(1199px) {
		height: 500px;
	}

	@include media-query(767px) {
		height: 400px;
	}

	.slide-inner {
		align-items: flex-end;

		.slide-content {
			padding-bottom: 50px;

			h2 {
				font-size: 32px;
				margin-bottom: 0;
				line-height: 45px;
			}
		}
	}
}